*{
  box-sizing: border-box;
  margin: 0;
  padding:0 ;
}
.dropdown>a::after{
  color: rgb(227, 225, 223);
}
[type=text],[type=email],[type=password],[type=number],[type=date],[type=file]{
    background-color: rgb(232, 227, 227);
}
.border-botto {
    border: none;
    border-bottom: 2px solid rgb(50, 41, 41);
    border-radius: 0;
    box-shadow: none; 
    margin-bottom: 30px; 
  }
 
  .labeling{
    font-size:100px
  }
  .custom-list:hover{
  transform: scale(1.1);
  color:white;
  cursor: pointer;


  }
 

